body {
    background-color: #E6E6E6;
    font-size: 20px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

p,a,span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.audio-box {
    padding: 50px 0;
    /* border: 1px solid gray;
    background-color: #fff;
    border-radius: 20px; */
}

.img-section {
    text-align: center;
}

.description-box {
    padding: 100px;
}

.animate__animated.animate__fadeIn {
    --animate-duration: 2s;
}

.piece-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.piece-description {
    padding-top: 260px;
}

.piece-description p {
    margin: 10px;
}

/* Gallery */


@media (max-width: 991px) {
    .section-1 {
        flex-direction: column !important;
    }

    .description-box {
        padding: 10px;
        margin-top: 40px !important;
    }

    .piece-box {
        flex-direction: column;
    }

    .audio-box {
        flex-direction: column;
    }

    .audio-box .col-12:nth-child(2) {
        margin-top: 20px;
    }

    .piece-box {
        flex-direction: column;
    }

    .piece-description {
        padding: 0 !important;
        margin-top: 30px;
    }
}
